<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NakliyeProje.Properties.Settings.NakliyeProjeConnectionString1"
            connectionString="Data Source=.;Initial Catalog=NakliyeProje;Persist Security Info=True;User ID=sa;Password=XxXx145393"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>